

/* ================ The Timeline ================ */
  
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }

  .direction-lr {
    position: relative;
    width: 30px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 10px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 10px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }

  h1{
      text-align: center;
  }

.hello{
    margin-top: 130px;
    margin-bottom: 50px;
}

hr{
    opacity: 50%;
    height: 2px;
}



body {
	background-color: rgb(230,230,230);
	font-family: 'Lato', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.skillset {
	margin-top: 100px;
}

.skill-lockup {
	max-width: 450px;
	width: 100%;
	float: left;
	margin-right: 40px;
}

.mr {
	margin-right: 0;
}

.mb {
	margin-bottom: 5px;
}

.skill-info {
	display: block;
	margin-bottom: 20px;
}

.skill-name {
	float: left;
	color: #666;
}

.skill-status {
	float: right;
	color: #af4040;
	font-size: .8em;
}
.skill-bar {
	display: block;
	max-width: 450px;
	width: 100%;
	height: 5px;
	background: #e3e3e5;
	clear: both;
	margin: 20px 0;
}

.skill-level {
	display: table;
	height: 5px;
}
.communication, .planning,
.learning, .programming,
.visual-design, .ux-design {
	background: #c6a60e;
}

.communication {
	width: 95%;
	-webkit-animation: communication 10s linear;
	animation: communication 10s linear;
}

.planning {
	width: 85%;
	-webkit-animation: planning 10s linear;
	animation: planning 10s linear;
}

.learning {
	width: 80%;
	-webkit-animation: learning 10s linear;
	animation: learning 10s linear;
}

.programming {
	width: 80%;
	-webkit-animation: programming 10s linear;
	animation: programming 10s linear;
}

.visual-design {
	width: 85%;
	-webkit-animation: visual-design 10s linear;
	animation: visual-design 10s linear;
}

.ux-design {
	width: 95%;
	-webkit-animation: ux-design 10s linear;
	animation: ux-design 10s linear;
}


/*-----------------------
	  	Animations 
-------------------------*/ 
@-webkit-keyframes communication {
	from { width: 0%; }
	to { width: 95%; }
}

@keyframes communication {
	from { width: 0%; }
	to { width: 95%; }
}

/*-----------------------
	Planning Animation 
-------------------------*/
@-webkit-keyframes planning {
	from { width: 0%; }
	to { width: 85%; }
}

@keyframes planning {
	from { width: 0%; }
	to { width: 85%; }
}

/*-----------------------
	Learning Animation 
-------------------------*/ 
@-webkit-keyframes learning {
	from { width: 0%; }
	to { width: 80%; }
}

@keyframes learning {
	from { width: 0%; }
	to { width: 80%; }
}

/*-----------------------
  Programming Animation 
-------------------------*/ 
@-webkit-keyframes programming {
	from { width: 0%; }
	to { width: 80%; }
}

@keyframes programming {
	from { width: 0%; }
	to { width: 80%; }
}

/*-----------------------
Visual-Design Animation  
-------------------------*/ 
@-webkit-keyframes visual-design {
	from { width: 0%; }
	to { width: 85%; }
}

@keyframes visual-design {
	from { width: 0%; }
	to { width: 85%; }
}

/*-----------------------
   UX-Design Animation  
-------------------------*/ 
@-webkit-keyframes ux-design {
	from { width: 0%; }
	to { width: 95%; }
}

@keyframes ux-design {
	from { width: 0%; }
	to { width: %; }
}


/*-----------------------
	  Media queries
-------------------------*/ 


@media screen and (max-width: 955px) {
	.skillset {
		padding: 20px;
	}
	.skill-lockup {
		max-width: 700px;
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.skill-bar {
		max-width: 700px;
		width: 100%;
	}
}



.timeing{
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248,248,248);
        margin-left: -100px;
}

.name{
  text-align: center;
}

.info{
  text-align: center;
}

